@import 'bourbon';
@import 'constants';
@import 'colors';

/*
## Buttons
Interact with buttons to view their `:hover`, `:focus` and `:active` states:
```
<a class="m-button l-mg-right(1/4)">Default</a>
<a class="m-button m-button--primary l-mg-right(1/4)">Default + Primary</a>
<a class="m-button" disabled="disabled">Disabled</a>
```
If even greater emphasis is needed, button’s size can be increased:
```
<a class="m-button--large l-mg-right(1/4)">Large</a>
<a class="m-button--large m-button--primary l-mg-right(1/4)">Large + Primary</a>
<a class="m-button--large" disabled="disabled">Disabled</a>
```
*/

.m-button {
  background: $grayscale-0; // Fallback for older browsers.
  @include background-image(linear-gradient(hsl(0, 0, 97%), $grayscale-0));
  border-radius: 3px;
  border: 1px solid $grayscale-1;
  color: $grayscale-4;
  cursor: pointer;
  display: inline-block;
  font-family: $font-content;
  font-size: $base-font-size*.875;
  height: $base-line-height + 6;
  line-height: $base-line-height + 4;
  padding: 0 8px;
  text-decoration: none;
}

.m-button:hover {
  @include background-image(linear-gradient(white, $grayscale-0));
  color: $grayscale-4;
}

.m-button:focus {
  box-shadow: 0 0 4px white inset;
  outline: none;
}

.m-button:active {
  @include background-image(none);
  background-color: $grayscale-0;
}

.m-button[disabled] {
  @extend .m-button;
  color: $grayscale-3;
  cursor: not-allowed;
  text-shadow: none;
}

.m-button--large {
  @extend .m-button;
  // font-size: modular-scale(0);
  height: $base-line-height + ($base-line-height / 2);
  line-height: $base-line-height + ($base-line-height / 2) - 2;
  padding: 0 $gutter * 0.75;
}

.m-button--primary:not([disabled]) {
  background: lighten($centro-brand-2b, 2%);
  @include background-image(linear-gradient(lighten($centro-brand-2b, 6%), $centro-brand-2b));
  border-color:  darken($centro-brand-2b, 4%);
  color: white;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(black, 0.2);
}

.m-button--primary:hover:not([disabled]) {
  background: lighten($centro-brand-2b, 4%);
  @include background-image(linear-gradient(lighten($centro-brand-2b, 8%), $centro-brand-2b));
  box-shadow: 0 1px 2px rgba(black, 0.2);
  border-color:  darken($centro-brand-2b, 6%);
}

.m-button--primary:active:not([disabled]) {
  @include background-image(linear-gradient($centro-brand-2b, lighten($centro-brand-2b, 6%)));
}
